.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495e; /* Background color */
    color: #ecf0f1; /* Text color */
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2c3e50; /* Form background color */
  }
  
  h2 {
    text-align: center;
    color: #3498db; /* Header text color */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7; /* Input border color */
    border-radius: 4px;
    background-color: #34495e; /* Default input background color */
    color: black; /* Input text color */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  input:focus {
    background-color: #fff; /* Background color when input is focused */
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .checkbox-group input {
    width: 20%;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db; /* Button background color */
    color: #ecf0f1; /* Button text color */
    cursor: pointer;
  }
  
  button:hover {
    background-color: white; /* Button background color on hover */
    color: #2980b9;
  }
  .error-message {
    font-size: small;
    color: rgb(240, 84, 84);
  }